

/* Обнуление стилей */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {
height: 100%;
margin: 0;
font-family: Arial, sans-serif;
}

body {
display: flex;
flex-direction: column;
transition: background-image 2s ease;
background-repeat: no-repeat;
background-size: cover;
background-image: url("../imgs/3.jpg");
}

.logoo {
    max-width: 500px;
    max-height: 100px;
    padding: 5px;
    position: relative;
    top: -5px;
}
header {
background-color: #333;
color: #fff;
padding: -10px;
text-align: center;
max-height: 80px;
}

.click {
  display: flex;
  flex-direction: column;
  gap: 140px;
  text-decoration: none;
}

header button {
color: white;
text-decoration: none;
font-size: 25px;
border: none;
background: none;
font-weight: 600;
font-family: 'Arial';
position: relative;
}

header button::before, header button::after {
content: '';
width: 0;
height: 2px;
background: #f44336;
display: block;
transition: 0.5s;
}

header button:hover::before, header button:hover::after {
width: 100%;
}

.content {
flex: 1;
padding: 20px;
text-align: center;
}

footer {
background-color: #333;
color: #fff;
padding: 20px;
text-align: center;
display: flex;
justify-content: space-between;
}

.contact-info, .social-media {
flex: 1;
margin: 0 20px;
}

.social-media {
    flex: 1;
    margin: 0 20px;
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
}   
.contact-info, .h3, .p {
    text-align: left;
}

.social-media ul {
list-style: none;
padding: 0;
}

.social-media ul li {
display: inline;
margin: 0 10px;
}

.social-media a {
color: #fff;
text-decoration: none;
}

.social-media a:hover {
text-decoration: underline;
}
/* Стили для активного пункта меню */
nav ul li.active {
background-color: #f44336; /* Цвет фона для активного пункта */
}

nav ul li.active a {
color: #fff; /* Цвет текста для активного пункта */
}

/* Стили для меню */
nav {
background-color: #333;
color: #fff;
text-align: center;
padding: 10px;
}

nav ul {
list-style: none;
padding: 0;
}

nav ul li {
display: inline;
margin: 0 20px;
}

nav a {
text-decoration: none;
color: #fff;
font-weight: bold;
}

nav a:hover {
text-decoration: underline;
}

.name {
  color: #fff;
}

.text {
  
  text-align: center;
  gap: 10px;
  border-radius: 15px;
  font-size: 12pt;
  color: #fff;
  font-family: Arial;
}

.descr {
  border-radius: 15px;
  background-color: #333;
  font-style: italic;
  width: 70%;
  height: 100%;
  justify-content: left;
  margin-left: -37%;
}

/*/ */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.card__image {
  height: 90%;
  width: 100%;
}

.containers {
    display: flex;
    flex-wrap: nowrap;
    max-width: 922px;
    margin-block: 2rem;
    gap: 2rem;
    flex-direction: row;
    padding: -100px;
    margin-left: 25%;
    max-height: 550px;
}

user__image {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.carde {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}